*
  box-sizing: border-box

body
  font-family: Arial, Helvetica, sans-serif
  display: flex
  flex-direction: column
  justify-content: space-between
  gap: 4em
  background-color: #fcf7e7
  height: 100dvh

html,
body,
ul,
h1,
h2,
h3,
h4
  margin: 0
  padding: 0

header
  padding: 1em 0
  background-color: #fff

ul
  list-style: none

a
  color: #000
  text-decoration: none

button
  outline: none

button:activ
  outline: none

input
  outline: none
  border: none
  padding: .5em 1em
  border-radius: 5px
  border: 1px #009700 solid

input:activ
  outline: none
  border: none

textarea
  outline: none
  border: none
  padding: .5em 1em
  border-radius: 5px
  border: 1px #009700 solid

textarea:activ
  outline: none
  border: none

textarea
  resize: none

nav ul
  flex-wrap: wrap

th
  background-color: #00970060
  padding: .5em 1em
td
  background-color: #0000001a
  padding: .5em 1em

table img 
  width: 100px
  height: 100px
  object-fit: cover

.boxX
  display: flex
  justify-content: space-between
  align-items: center
  gap: 1em

.grid
  display: grid
  justify-content: space-between
  grid-template-columns: 1fr 1fr 1fr
  gap: 3em

.start
  align-items: flex-start

.pet li
  padding: 1em
  background-color: #fff
  border-radius: 5px

.pet img
  height: 170px
  object-fit: cover
  background-color: #c5c5c5
.boxY
  display: flex
  flex-direction: column
  justify-content: space-between
  gap: 1em

.flex1
  flex: 1

.logo
  width: 40px

.center
  display: flex
  align-items: center
  justify-content: center

.wrapper
  width: 1200px
  margin: auto

.stretch
  align-items: stretch
  justify-content: stretch

.button
  cursor: pointer
  padding: .5em 1em
  border-radius: 5px
  background-color: #0000000e
  display: flex
  justify-content: center
  border: 1px #009700 solid
  transition: .2s

.button:hover
  background-color: #00970079

.pet-slider img
  height: 170px
  object-fit: cover
  background-color: #c5c5c5

.pet-slider li
  width: 340px
  padding: 1em
  background-color: #fff
  border-radius: 5px

.pet-slider ul
  gap: 2em

.pet-slider
  &__activ
    transform: scale(1.1)
    box-shadow: 0 0 5px 5px #00970028

.about img
  height: 300px
  object-fit: cover
  background-color: #c5c5c5

.about h3
  padding: .5em .5em 0em

.about
  &__box
    background-color: #fff

.form
  background-color: #fff
  padding: 1em

.feedback li
  padding: 1em
  background-color: #fff
  border-radius: 5px

.feedback img
  height: 170px
  object-fit: cover
  background-color: #c5c5c5

.footer
  padding: 4em 0
  background-color: #333333
  color: #fff
  &__wrapper
    align-items: flex-start

.footer a
  color: #fff

.circle
  border-radius: 40px
  width: 40px
  height: 40px
  background-color: #0000001a
  border: none
  transition: .2s
  &__active
    background-color: #65d665

.circle:hover
  background-color: #52b152

.pet-card img
  object-fit: cover
  width: 200px
  height: 200px
  border-radius: 10px

.pet-card
  &__grid
    display: grid
    justify-content: space-between
    grid-template-columns: 1fr 1fr
    gap: 1em

.err
  color: hsl(0, 100, 50)
  background-color: hsl(0, 100, 94)
  border: none

.item
  font-size: 2em

.select
  outline: none
  background-color: #fff

.select:hover
  background: #fff

.form
  &__wrapper img
    width: 300px
  &__wrapper
    display: flex
    gap: 0

.tabbed
  & [type="radio"]
    display: none

.tabs
  display: flex
  align-items: stretch
  list-style: none
  padding: 0
  border-bottom: 1px solid #ccc

.tab > label
  display: block
  margin-bottom: -1px
  padding: 12px 15px
  border: 1px solid #ccc
  background: #eee
  font-size: 12px
  font-weight: 600
  text-transform: uppercase
  cursor: pointer
  transition: all 0.3s

.tab:hover label
  border-top-color: #2e5f2e
  color: #000

.tab-content
  display: none

.tabbed [type="radio"]:nth-of-type(1):checked ~ .tabs .tab:nth-of-type(1) label,
.tabbed [type="radio"]:nth-of-type(2):checked ~ .tabs .tab:nth-of-type(2) label
  border-bottom-color: #fff
  border-top-color: #65d665
  background: #fff

.tabbed [type="radio"]:nth-of-type(1):checked ~ .tab-content:nth-of-type(1),
.tabbed [type="radio"]:nth-of-type(2):checked ~ .tab-content:nth-of-type(2)
  display: block

@media screen and ( max-width: 1200px)
  .wrapper
    width: auto
  .pet-slider
    &__item
      display: none
  .media-column
    flex-direction: column
    align-items: flex-start
  .grid
    gap: 1em
    grid-template-columns: 1fr 1fr
  th
    padding: 0
  td
    padding: 0

@media screen and ( max-width: 900px)
  table
    font-size: 11px

@media screen and ( max-width: 470px)
  .grid
    gap: 1em
    grid-template-columns: 1fr
  .pet-slider li
    width: auto
